* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: wheat;
}

main {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid black;
}

footer {
  border-top: 1px solid black;
  padding: 1rem;
  place-items: center;
  font-weight: bold;
}